@media (max-width: 1024px) {

}

@media (max-width: 991px) {
    .text-content{
        width: 100%;
    }

    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }


    .navigation-wrap{
        text-align: center;
        background-color: var(--white-color);
    }

    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }


    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }


    .newslettera{
        width:75%;
    }

    .newsletter .main-btn{
        width:100%;
        margin-top: 1rem;
    }

}


@media (max-width: 767px){
    h1{
        font-size: 2.8rem;
    }
    h2{
        font-size: 2rem;
        line-height: 2.0625rem;
    }

    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }
}


.story-section{
    height: auto;
    padding: 3rem 0;
}




/* last rspnsive part of email*/

@media (max-width: 768px) {

    .newsletter-wrapper {
        width: 90%;
    }

    .newsletter-form {
        flex-direction: column;  /* Stack on mobile */
        gap: 1rem;  /* maintain gap on mobile */
    }

    .newsletter-btn {
        width: 100%;  /* full width on mobile */
    }

    .newsletter-input {
        width: 100%;
    }
}